:root {
    --text: #E5E5E5;
    --background: #000000;
    --primary: hsl(177, 55%, 62%);
    --secondary: hsl(234, 61%, 70%);
    --accent: hsl(221, 59%, 51%);

    --first: #18181B;
    --about: #18181B;
    --skills: #18181B;
    --projects: #18181B;
    --contact: #18181B;

  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;

    --font-header: "Nunito", sans-serif;
    --font-text: "PT Sans", sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::before {
    --size: 30px;
    --line: hsl(0 0% 100% / 0.13);
    --thickness: 1px;
    --offset: 60px;
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background:
      linear-gradient(transparent 0 calc(var(--size) - var(--thickness)), var(--line) calc(var(--size) - var(--thickness)) var(--size)) var(--offset) var(--offset) / var(--size) var(--size),
      linear-gradient(90deg, transparent 0 calc(var(--size) - var(--thickness)), var(--line) calc(var(--size) - var(--thickness)) var(--size)) var(--offset) var(--offset) / var(--size) var(--size);
  }

body {
    font-family: var(--font-text);
    background-color: var(--background);
    overflow: hidden;
}

.sidenav {
    display: none;
}

@mixin theme($theme: var(--primary)) {
    background-color: $theme;
    border-radius: 12px;
    color: var(--text);
}

.card {
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--font-header);
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.4s ease-in-out;
    border: none;
}
/*
.card:hover {
    background-color: var(--background);
    cursor: pointer;
    outline: 5px solid gray;
    outline-offset: -5px;
    
}
*/
.card-introduction {
    @include theme($theme: var(--first))
}

.card-about {
    @include theme($theme: var(--about))
}

.card-skills {
    @include theme($theme: var(--skills))
}

.card-projects {
    @include theme($theme: var(--projects))
}

.card-contact {
    @include theme($theme: var(--contact))
}

.content {
    padding-top: 5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: scroll;
    height: 100vh;
}

header {
    background-color: transparent;
    padding-top: 1rem;
    padding-inline: 1rem;
    z-index: 1;
    right: 0;
    left: 0;
    position: fixed;
}

.header {
    padding: 0.5rem;
    backdrop-filter: blur(5px);
    border: 1px solid var(--text);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    h1 {
        margin-left: 0.8rem;
        color: var(--text);
        text-align: left;
        font-weight: 200;
        font-size: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem);
    }
    a {
        border: 1px solid #DEDCDB;
        background-color: hsl(47, 18%, 90%);
        font-size: 1rem;
        color: black;
        border-radius: 8px;
        padding: 0.3rem 0.5rem;
        text-decoration: none;
        text-wrap: nowrap;
    }
    a:hover {
        text-decoration: underline; /* Underline on hover */
    }
    
}

.introduction {
    
    @include theme($theme: var(--first));
    min-height: 70dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
    img {
        position: absolute;
        top: 30px;
        right: 30px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 50vw;
        border: 8px solid #65C0D6;
        object-fit: cover;
    }
    .text-wrapper {
        width: min(700px, 100%);
    }
    h1 {
        font-size: clamp(3rem, -0.1304rem + 15.6522vi, 12rem);
        margin-bottom: 1rem;

    }
    p {
        font-size: 1.5rem;

    }
}

.about {
    
    @include theme($theme: var(--about));
   
    .about-wrapper {
        background-color:  hsl(197, 5%, 28%);
        border-radius: 12px;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
        h1 {
            font-size: clamp(2rem, 1.3043rem + 3.4783vi, 4rem);
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
    .about-arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10dvh;
        padding-inline: 2rem;
        p {
            font-size: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);
            font-weight: 400;
        }
    }
    svg {
        fill: white;
    }
}

.skills {
    min-height: 60dvh;
    @include theme($theme: var(--skills));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px;
        min-height: 60dvh;
    }
    .grid-item {
        display: flex;
        justify-content: left;
        align-items: end;
        padding: 1rem;
        border-radius: 12px;
        background-color: hsl(203, 22%, 65%);
        position: relative; /* Needed for absolute positioning of span */
        overflow: hidden; 
    }
    .text {
        font-size: 1rem;
        position: absolute;
        bottom: 20px;
        left: 10px;
        transition: transform 0.3s ease; /* Add transition for smooth scaling */
        transform-origin: bottom left; 
        color: white;
        font-weight: 700;
        border-radius: 5px;
        background-color: hsl(204, 22%, 25%);
        padding: 5px 15px;
      }
      
    .grid-item:hover .text {
        transform: scale(1.2); /* Scale up by 20% on hover */
      }
    .item1 {
        border-top: none;
        border-left: none;
        border-radius: 12px 0 12px 0;
        position: relative;
    }
    .item1::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/html.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item2 {
        border: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;

    }
    .item3 {
        border: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    .item4 {   
        border-left: none;
        border-radius: 0 12px 12px 0;
        position: relative;
    }
    .item4::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/css-3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item5 {
        position: relative;
    }
    .item5::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/sass2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item6 {
        border-right: none;
        border-radius: 12px 0 0 12px;
        position: relative;
    }
    .item6::before {
        position: absolute;
        content: "";
        top: -10px;
        width: 110%;
        height: 110%;
        background: url(images/bootstrap-logo-shadow.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item7 {   
        border-left: none;
        border-radius: 0 12px 12px 0;
    }
    .item7::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/js.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item8 {
        position: relative;
    }
    .item8::before {
        position: absolute;
        content: "";
        top: -15px;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(images/jquery.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }
    .item9 {
        border: none;
        background-color: transparent;
    }
    .item10 {
        border-bottom: none;
        border-left: none;
        border-radius: 0 12px 0 12px ;
        position: relative;
    }
    .item10::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/php.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item11 {
        border-bottom: none;
        border-radius:  12px 12px 0 0;
    }
    .item11::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/wordpress.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }
    .item12 {
        border-bottom: none;
        border-right: none;
        border-radius: 12px 0 12px 0;
        position: relative;
    }
    .item12::before {
        position: absolute;
        content: "";
        top: 5px;
        width: 100%;
        height: 100%;
        background: url(images/mysql.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: rotate(-10deg);
    }

}

.projects {
    
    @include theme($theme: var(--projects));
    min-height: 80dvh;
    padding: 2rem;
    h1 {
        font-size: clamp(1.5rem, 0.9783rem + 2.6087vi, 3rem);
        transition: font-size 0.7s ease;
    }
    .card-wrapper {
        margin-top: 2rem;
        p {
            margin-bottom: 0.3rem;
        }
    }
    .websites-card-wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
    }
    img {
        width: min(300px,100%);
        object-fit: cover;
        border-radius: 15px;
        cursor: pointer;
    }
    img:hover {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    }
}

.contact {
    
    background-color: var(--contact);
    border-radius: 12px 12px 0 0 ;
    color: var(--text);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        font-size: clamp(3rem, 1.9565rem + 5.2174vi, 6rem);
        transition: font-size 0.7s ease;
    }
    a {
        text-decoration: none;
        color: var(--text);
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .socials_wrapper {
        border-top: 5px solid black;
        
    }
    
    img {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 55px;
        background-color: white;
        border-radius: 20%;
        padding: 2px;
    }
}


@media screen and (min-width: 782px) {
    .content {
        margin-left: 200px;
    }
    .sidenav {
        min-height: 100dvh;
        width: 200px;
        position: fixed;
        top: 4rem;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;
        padding-left: 0.5rem;
    }
    .socials_wrapper {
        display: flex;
        justify-content: flex-start;
    }
    .about-wrapper {
        p {
            width: 80%;
        }
    }
    .projects {
        h1 {
            width: 85%;
        }
    }
    .introduction {
        p {
            width: 80%;
        }
        img {
            width: 25vw;
        }
    }
 }